{% set id = id|default(uniqid()) %}
{% set no_close_button = no_close_button is defined ? no_close_button : false %}
{% set animationDuration = animationDuration|default(300) %}

<div data-controller="modal--default" data-modal--default-duration-value="{{ animationDuration }}">
    <div data-modal--default-target="button" data-action="click->modal--default#open">
        {% block trigger %}
        {% endblock %}
    </div>

    <div id="{{ id }}" data-modal--default-target="backdrop" class="hidden cursor-auto opacity-0 fixed top-0 left-0 z-[99999] bg-black bg-opacity-70 w-full h-full items-center justify-center transition-all duration-{{ animationDuration }}">
        <div data-modal--default-target="modal" class="bg-white p-5 relative shadow-2xl rounded-sm transition-all duration-{{ animationDuration }} transform">
            {% if not no_close_button %}
                <button id="close-modal-{{ id }}" class="flex absolute top-0 right-0 m-2 text-secondary-500" data-action="click->modal--default#close">
                    <i class="fa-solid fa-times"></i>
                </button>
            {% endif %}
            {% block title %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>