{% extends '@base/public.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{{ displayFlash() }}
<div class="flex justify-center items-center h-screen">
    <div class="w-full max-w-md bg-secondary-100 p-4 rounded-md mx-auto">
        <h1 class="text-2xl font-bold mb-6 text-center">Connexion</h1>
        {% if error %}
            <div class=" mb-3 bg-danger-100 border border-danger-400 text-danger-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">E-mail ou mot de passe incorrect !</strong>
            </div>
        {% endif %}
        <form method="post" class="grid gap-4">


           {#} {% if app.user %}
                <div class="mb-3">
                    Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}#}

            <label for="inputEmail" class="">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border p-3 rounded-md w-full text-sm" autocomplete="email" required autofocus placeholder="Entrez votre adresse e-mail">

            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="border p-3 rounded-md w-full text-sm" autocomplete="current-password" required placeholder="Entrez votre mot de passe">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex justify-center mt-4">
                <button class="bg-primary-500 hover:bg-primary-700 text-white font-bold py-2 px-4 rounded" type="submit">Se connecter</button>
            </div>

            <div class="text-center mt-2">
                <a href="{{ path('app_register') }}" class="text-primary-500 hover:text-primary-700">S'inscrire</a>
            </div>

            <div class="text-center mt-2">
                <a href="{{path('app_forgot_password_request')}}" class="text-primary-500 hover:text-primary-700">Mot de passe oublié ?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
