{% set id = id|default(uniqid()) %}
{% set attach_to = attach_to|default('#') %}
{% set no_close_button = no_close_button is defined ? no_close_button : false %}

<div id="{{ id }}" class="hidden fixed top-0 left-0 z-[99999] bg-black bg-opacity-50 w-full h-full items-center justify-center">
    <div class="bg-white p-5 text-secondary-900 relative shadow-2xl rounded-sm transition-all transform">
        {% if not no_close_button %}
            <button id="close-modal-{{ id }}" class="flex absolute top-0 right-0 m-2 text-secondary-500">
                <i class="fa-solid fa-times"></i>
            </button>
        {% endif %}
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</div>

{# Default modal script #}
<script>
    var button{{ id }} = document.querySelector('#{{ attach_to }}');
    var modal{{ id }} = document.querySelector('#{{ id }}');

    button{{ id }}.addEventListener('click', (e) => {
        e.preventDefault();
        modal{{ id }}.classList.add('flex');
        modal{{ id }}.classList.remove('hidden');
    });

    modal{{ id }}.addEventListener('click', (e) => {
        if (e.target === modal{{ id }}) {
            modal{{ id }}.classList.add('hidden');
            modal{{ id }}.classList.remove('flex');
        }
    });

    {% if not no_close_button %}
        var closeButtons{{ id }} = document.querySelectorAll('#close-modal-{{ id }}');
        closeButtons{{ id }}.forEach((closeButton) => {
            closeButton{{ id }}.addEventListener('click', () => {
                modal{{ id }}.classList.add('hidden');
                modal{{ id }}.classList.remove('flex');
            });
        });
    {% endif %}
</script>

{# Additionnal script if needed #}
{% block script %}{% endblock %}