{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
        body {
            background-color: #1E90FF; 
            padding-top:200px;
            padding-bottom:150px;
        }
    </style>
<div class="flex justify-center items-center h-screen ">
        <div class="w-full max-w-md bg-gray-100 p-4 rounded-md mx-auto">
            <h1 class="text-2xl font-bold mb-6 text-center">Inscription</h1>

   {#} {{ form_errors(registrationForm) }}#}

    {{ form_start(registrationForm)}}
    <div class="grid gap-4">
        {{ form_row(registrationForm.firstName, {
                        label: 'Nom'
       ,
                        'attr': {
                            'class': 'border p-2 rounded-md w-full text-sm' ,
        'placeholder': 'Entrez votre nom'
                        }

                    }) }}
        {{ form_row(registrationForm.lastName, {
            label: 'Prénom'
       ,
                        'attr': {
                            'class': 'border p-2 rounded-md w-full text-sm ' ,
                            'placeholder': 'Entrez votre prénom'
                        }
                        
                    }) }}
        {{ form_row(registrationForm.phoneNumber, {
            label: 'Numéro de téléphone'
       ,
                        'attr': {
                            'class': 'border p-2 rounded-md w-full text-sm' ,
        'placeholder': 'Entrez votre numéro de téléphone'
                        }
                    }) }}
        {{ form_row(registrationForm.Nom, {
            label: "Nom de l'Entreprise"
       ,
                        'attr': {
                            'class': 'border p-2 rounded-md w-full text-sm' ,
        'placeholder': 'Entrez le nom de votre Entreprise'
                        }
                    }) }}
        {{ form_row(registrationForm.Adresse, {
    'label': "Adresse de l'Entreprise",
    'attr': {
        'class': 'border p-2 rounded-md w-full text-sm' ,
        'placeholder': "Entrez l'adresse de votre Entreprise"
    }
}) }}
        {{ form_row(registrationForm.Numero_Siret, {
            label: "Numéro Siret de l'Entreprise"
        , 
                        'attr': {
                            'class': 'border p-2 rounded-md w-full text-sm' ,
        'placeholder': 'Entrez le nom Siret de votre Entreprise'
                        }
                    }) }}

                     {% if registrationForm.email.vars.errors|length > 0 %}
        <div class="mb-1 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Un compte existe déjà avec cette adresse e-mail</strong>
        </div>
    {% endif %}
        {{ form_row(registrationForm.email, {
            label: 'Adresse e-mail'
       ,
                        'attr': {
                            'class': 'border p-2 rounded-md w-full text-sm'  ,
                            'placeholder': 'Entrez votre adresse e-mail'
                        }
                    }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        ,
                        'attr': {
                            'class': 'border p-2 rounded-md w-full text-sm' ,
                            'placeholder': 'Entrez un mot de passe'
                        }
                    }) }}
       
    </div>
    <div class="flex justify-center mt-4">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            S'inscrire
        </button>
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('app_login') }}" class="text-blue-500 hover:text-blue-700">Se connecter</a>
    </div>
    
    {{ form_end(registrationForm) }}

    </div>
    </div>
{% endblock %}
