{% extends 'front/base.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}
{% from "@components/macros/content.html.twig" import button_macro %}

{% block title %}New Category{% endblock %}

{% block body %}
 {{ header({
        text: 'Liste des catégories',
    }) }}

    <div class="px-4">

        <div class= "flex flex-row items-center justify-start mb-4 text-xs text-secondary-500 hover:text-primary-500 ease-in-out">
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_product_new') }}">Retour à la liste</a>
        </div>

        <div class="w-1/2 flex flex-row justify-end py-2 gap-2">
            {{ button_macro({
                custom_classes: ["group", "rounded", "p-2", "bg-primary-50", "text-primary-500", "text-sm", "transition-all", "ease-in-out", "hover:bg-primary-500", "hover:text-white"],
                text:  "Nouvelle catégorie",
                icon: "fa-plus",
                route : path('app_category_new')
            }) }}
             
            <div id="disable_buttons" class="hidden">
                {{ button_macro({
                    id: 'delete_categories',
                    custom_classes: ["group", "rounded", "p-2", "bg-danger-50", "text-danger-500",  "transition-all", "ease-in-out", "hover:bg-danger-500", "hover:text-white"],
                    icon: "fa-trash",
                }) }}    
            </div>
                 
        </div>
        {{include('category/modal_delete.html.twig')}}
        
        {% set cellPadding = 'p-4 px-2' %}
        {% set borderClass = 'border-b border-b-gray-200' %}

        <div class="flex flex-row h-full w-full">

            <div class="w-1/2">
                <table class="w-full border shadow-sm">
                    <thead>
                        <tr class="{{ borderClass }}">
                            <th class="{{ cellPadding }} text-center"><input type="checkbox" class="categories-checkbox"></th>
                            <th class="{{ cellPadding }} text-left">Nom</th>
                            <th class="{{ cellPadding }}"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr data-href="{{ path('app_category_show', {'id': category.id}) }}" class="{{ borderClass }} hover:bg-gray-50 text-sm">
                            <td class="{{ cellPadding }} text-center"> <input type="checkbox" class="category-checkbox" name="{{ category.id }}"> </td>
                            <td class="{{ cellPadding }} text-left">{{ category.name }}</td>
                            <td class="{{ cellPadding }} text-right text-gray-400">
                                <a href="{{ path('app_category_edit', {'id': category.id}) }}">
                                    <i class="fa-solid fa-edit hover:text-yellow-500"></i>
                                </a>
                            </td>
        
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Pas de résultat</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                    </div>
        
  
    </div>

{% endblock %}
