{% extends '@base/app.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}
{% from "@components/macros/content.html.twig" import button_macro %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Liste des catégories',
    }) }}

    <div class="px-4" data-controller="form--checkbox--post">
        <div class= "flex flex-row items-center justify-start mt-4 mb-4 text-xs text-secondary-500 hover:text-primary-500 ease-in-out">
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_product_index') }}">Retour à la liste des produits </a>
        </div>
    {% if isGTCompany %}
    <div class="w-1/2 flex flex-row justify-end py-2 gap-2">
        {% include '@category/list/delete-many-button-confirm.html.twig' %}
        {{ button_macro({
            custom_classes: ["group", "rounded", "p-2", "bg-primary-50", "text-primary-500", "text-sm", "transition-all", "ease-in-out", "hover:bg-primary-500", "hover:text-white"],
            text:  "Nouvelle catégorie",
            icon: "fa-plus",
            route : path('app_category_new')
        }) }}

    </div>
    {% endif %}

    {% set cellPadding = 'p-4 px-2' %}
    {% set borderClass = 'border-b border-b-gray-200' %}

    <div class="flex flex-row h-full w-full">

        <div class="w-1/2">
            <form
                    id="deleteManyCategoriesForm"
                    data-form--checkbox--post-target="form"
                    action="{{ path('app_category_deleteAll') }}"
                    method="POST"
            >
                <table class="w-full border shadow-sm" data-controller="form--checkbox--multiple">
                    <thead>
                    <tr class="{{ borderClass }}">
                        <th class="{{ cellPadding }} text-center">
                            {% if isGTCompany %}
                            <input type="checkbox" class="categories-checkbox" data-form--checkbox--multiple-target="main">
                            {% endif %}
                        </th>
                        <th class="{{ cellPadding }} text-left">Nom</th>
                        {% if showCompany %}
                            <th class="{{ cellPadding }} text-left">Entreprise</th>
                        {% endif %}
                        <th class="{{ cellPadding }}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr class="{{ borderClass }} hover:bg-gray-50 text-sm">
                            <td class="{{ cellPadding }} text-center">
                                {% if isGTCompany %}
                                <input
                                    type="checkbox"
                                    class="product-checkbox"
                                    name="categories[{{ category.id }}]"
                                    value="{{ csrf_token('delete' ~ category.id) }}"
                                    data-form--checkbox--multiple-target="items"
                                    data-form--checkbox--post-target="items"
                                />
                                {% endif %}
                            </td>
                            <td class="{{ cellPadding }} text-left">{{ category.getName() }}</td>
                            {% if showCompany %}
                                <td class="{{ cellPadding }} text-left">{{ category.company.getName() }}</td>
                            {% endif %}
                            
                            <td class="{{ cellPadding }} text-right text-gray-400">
                                {% if isGTCompany %}
                                <a href="{{ path('app_category_edit', {'id': category.id}) }}">
                                    <i class="fa-solid fa-edit hover:text-warning-500"></i>
                                </a>
                                {% endif %}
                            </td>
                           

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">
                            {% include "@category/list/no-data.html.twig" %}
                            </td>
                        </tr>     
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

{% endblock %}