{% from "@components/input/macros/index.html.twig" import form_widget_macro %}
{% from "@components/button/macros/index.html.twig" import button_macro %}

{% set inputWrapperClasses = [
    'flex',
    'flex-col',
    'mb-2',
]|join(' ') %}

{% set inputOutlineClasses = [
    'w-full',
    'border-b',
    'outline-none',
    'focus:border-b-blue-400',
]|join(' ') %}

{% set labelClasses = [
    'mb-2',
    'text-xs',
    'text-gray-500',
]|join(' ') %}

{% set errorClasses = [
    'border-red-500',
]|join(' ') %}

{% set button_classes = button_classes|default([]) %}

{{ form_start(form) }}
    {{ form_widget_macro({
        item: form.email,
    }) }}
    {{ form_widget_macro({
        item: form.lastname,
    }) }}
    {{ form_widget_macro({
        item: form.firstname,
    }) }}
    {{ form_widget_macro({
        item: form.address,
    }) }}
    {{ form_widget_macro({
        item: form.phone,
    }) }}

    <div class="flex flex-row-reverse">
        {{ button_macro({
            text: button_label|default('Enregistrer'),
            custom_classes: button_classes,
        }) }}
    </div>
{{ form_end(form) }}
