{% set cellPadding = 'p-4 px-2' %}
{% set borderClass = 'border-b border-b-secondary-200' %}
{% set tableHeaderClasses = borderClass ~ ' bg-secondary-50' %}

<table 
    class="w-full border shadow-sm text-sm"
    data-controller="form--checkbox--multiple">

    <thead>
        <tr class="{{ tableHeaderClasses }}">
            <th class="{{ cellPadding }} text-center">
                <input type="checkbox" class="customers-checkbox" data-form--checkbox--multiple-target="main">
            </th>
            <th class="{{ cellPadding }} text-left">Email</th>
            <th class="{{ cellPadding }} text-left">Nom et Prénom</th>
            <th class="{{ cellPadding }} text-right">Téléphone</th>
            {% if showCompany %}
                <th class="{{ cellPadding }} text-left">Entreprise</th>
            {% endif %}
            <th class="{{ cellPadding }}"></th>
        </tr>
    </thead>
    <tbody>
    {% set offset = paginatorHelper.offset %}
    {% for customer in customers %}
        <tr data-controller="link--clickable"
            data-link--clickable-path-value="{{ path('app_customer_show', {'id': customer.id}) }}"
            data-action="click->link--clickable#visit"
            data-link--clickable-target="element"
            class="{{ borderClass }} hover:bg-secondary-50 hover:border-x hover:border-x-primary-500"
            >

            <td class="{{ cellPadding }} text-center" data-link--clickable-target="exclude">
                <input
                    type="checkbox"
                    class="customer-checkbox"
                    name="customers[{{ customer.id }}]"
                    value="{{ csrf_token('delete' ~ customer.id) }}"
                    data-form--checkbox--multiple-target="items"
                    data-form--checkbox--post-target="items"
                >
            </td>

            <td class="{{ cellPadding }} text-left">{{ customer.getEmail() }}</td>
            <td class="{{ cellPadding }} text-left">{{ customer.getFullname() }}</td>
            <td class="{{ cellPadding }} text-right">{{ customer.getPhoneWithSpace() }}</td>
            {% if showCompany %}
                <td class="{{ cellPadding }} text-left">{{ customer.getCompany().getName() }}</td>
            {% endif %}
            <td class="{{ cellPadding }} text-right text-secondary-400">
                    <a href="{{ path('app_customer_edit', {'id': customer.id}) }}" data-turbo-action="replace" data-link--clickable-target="exclude">
                        <i class="fa-solid fa-edit hover:text-warning-500"></i>
                    </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">
            {% include "@customer/index/list/no-data.html.twig" %}
            </td>
        </tr>     
    {% endfor %}
    </tbody>
</table>

<div id="customer-paginator" class="flex flex-row justify-end my-2">
    {% include "@customer/index/list/paginator.html.twig" %}
</div>