{% extends '@base/app.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}

{% block title %}Bill{% endblock %}


{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Facture',
    }) }}
    <div class= "flex flex-row items-center justify-between mb-4 m-4 text-xs text-secondary-500 hover:text-primary-500 ease-in-out">
        <div>
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_bill_index') }}">Retour à la liste</a>
        </div>
        <div>
            <twig:Button
                text="PDF"
                color="secondary"
                route="{{ path('app_bill_pdf_show', {'id': bill.id}) }}"
                target="_blank"
                icon="fa-file-pdf"
            />
            {% if bill.getStatus() == 0  %}
            <twig:Button
                text="Modifier"
                color="warning"
                textColor="secondary-700"
                route="{{ path('app_bill_edit', {'id': bill.id}) }}"
                icon="fa-pen"
            />
            {% endif %}
        </div>
    </div>

    <div class="px-4">
        <twig:BillCreator :bill="bill" mode="show" />
    </div>
{% endblock %}
