{% extends '@base/app.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}

{% block title %}Bill{% endblock %}


{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Facture',
    }) }}
    <div class="p-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_bill_index') }}">Retour à la liste</a>
        </div>
        <div class="flex flex-col md:flex-row md:justify-end gap-2">
            <twig:Button
                text="PDF"
                color="secondary"
                route="{{ path('app_bill_pdf_show', {'id': bill.id}) }}"
                target="_blank"
                icon="fa-file-pdf"
            />
            {% if bill.getStatus() == 0  %}
                {% if isGTEmployee %}
                    <twig:Button
                        text="Modifier"
                        color="warning"
                        textColor="secondary-700"
                        route="{{ path('app_bill_edit', {'id': bill.id}) }}"
                        icon="fa-pen"
                    />
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="px-4">
        <twig:BillCreator :bill="bill" mode="show" />
    </div>
{% endblock %}
