{% set id = uniqid() %}

{% set allMessages = app.session.flashbag.all() %}

{% if allMessages is not empty %}
<div id="flash-message-{{ id }}" class="z-[99999] fixed top-3 right-3 transform transition-transform ease-in-out max-w-[20rem]">
    <div class="flex flex-row items-start justify-between text-sm bg-gray-50 rounded-sm shadow-xl p-2">
        <div>
            {% for type, messages in allMessages %}
                {% for message in messages %}
                    {% if type == 'success' %}
                        {% set textClass = 'text-green-700' %}
                        {% set icon = 'fa-circle-check text-green-500' %}
                    {% elseif type == 'error' %}
                        {% set textClass = 'text-red-700' %}
                        {% set icon = 'fa-circle-xmark text-red-500' %}
                    {% elseif type == 'warning' %}
                        {% set textClass = 'text-yellow-700' %}
                        {% set icon = 'fa-triangle-exclamation text-yellow-500' %}
                    {% elseif type == 'info' %}
                        {% set textClass = 'text-blue-500' %}
                        {% set icon = 'fa-circle-info text-blue-500' %}
                    {% endif %}
                    <div class="flex flex-row items-baseline text-sm">
                        <i class="w-4 mr-1 fa-solid text-center {{ icon }}"></i>
                        <span class="{{ textClass }}">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="flex ml-2">
            <button id="close-flash-message-{{ id }}">
                <i class="fa-solid fa-times text-gray-500 hover:text-gray-700"></i>
            </button>
        </div>
    </div>
</div>

<script>
    const flashMessage = document.getElementById('flash-message-{{ id }}');
    const closeFlashMessage = document.getElementById('close-flash-message-{{ id }}');
    const classAfterClosing = 'translate-x-96';

    // After 7 seconds, the flash message is hidden automatically
    setTimeout(() => {
        flashMessage.classList.add(classAfterClosing);
    }, 7000);

    closeFlashMessage.addEventListener('click', () => {
        flashMessage.classList.add(classAfterClosing);
    });
</script>
{% endif %}
