{% set has_action = route is not empty and route != '#' %}
{% set custom_classes = customClasses %}
{% set disabled = disabled|default(false) %}
{% set disabledAttr = disabled ? 'disabled':'' %}
{% set attr = attr|default([]) %}

{% set variantDefaultClasses = {
    'default': [
        'p-2',
        'text-base',
    ],
    'small': [
        'p-2',
        'text-sm',
    ],
    'medium': [
        'p-3',
        'text-lg',
    ],
    'icon': [
        'text-sm',
    ],
} %}

{% set defaultClasses = [
    'rounded',
    'transition-all',
    'ease-out',
]|merge(variantDefaultClasses[variant]) %}

    {# Setting default colors #}
    {% if 'primary' == type %}
        {% set backgroundColor = 'bg-%s-500 hover:bg-%s-700'|format(color, color) %}
        {% set textColor = 'text-white' %}
    {% elseif 'secondary' == type %}
        {% set backgroundColor = 'bg-%s-100 hover:bg-%s-200'|format(color, color) %}
        {% set textColor = 'text-%s-500'|format(color) %}
    {% endif %}

    {% if variant == 'icon' %}
        {% set backgroundColor = 'bg-transparent' %}
        {% set textColor = 'text-%s-500'|format(color) %}
    {% endif %}


    {# Initialize button classes #}
    {% set button_classes = [
        backgroundColor,
        textColor,
    ]|merge(defaultClasses) %}
    {% if custom_classes is not empty %}
        {% set button_classes = button_classes|merge(custom_classes) %}
    {% endif %}
    {% set button_classes = button_classes|join(' ') %}

    {% set str_attr = '' %}

    {% for key, value in attr %}
        {% set str_attr = str_attr ~ ' ' ~ key ~ '="' ~ value|raw ~ '"' %}
    {% endfor %}

    {% if has_action %}
        <a href="{{ route }}" target="{{target}}">
    {% endif %}

    <button id="{{id}}" class="{{ button_classes }}" onclick="{{onClick}}" {{disabledAttr}} {{ str_attr|raw }}>
        <i class="fa-solid {{ icon }}"></i>
        {% if text is not empty %}
            {{ text }}
        {% endif %}
    </button>

    {% if has_action %}
</a>
{% endif %}