<!DOCTYPE html>

<title>Expenses</title>

{% block body %}
    <h1>Expenses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expense.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ expense.date ? expense.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ expense.quantity }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ expense.price }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ expense.total }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_expenses_index') }}">back to list</a>

    <a href="{{ path('app_expenses_edit', {'id': expense.id}) }}">edit</a>

    {{ include('expenses/_delete_form.html.twig') }}
{% endblock %}
