{% from "@components/macros/content.html.twig" import button_macro %}

{% set button_classes = button_classes|default([]) %}

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.address) }}
    {{ form_row(form.phone) }}

    <div class="flex flex-row-reverse">
        {{ button_macro({
            text: button_label|default('Enregistrer'),
            custom_classes: button_classes,
            attr: {
                type: "submit",
            },
        }) }}
    </div>
{{ form_end(form) }}
