{% from "@components/input/macros/index.html.twig" import form_widget_macro %}
{% from "@components/macros/content.html.twig" import button_macro %}

{% set button_classes = button_classes|default([]) %}

{{ form_start(form) }}
    {{ form_widget_macro({
        item: form.email,
    }) }}
    {{ form_widget_macro({
        item: form.lastname,
    }) }}
    {{ form_widget_macro({
        item: form.firstname,
    }) }}
    {{ form_widget_macro({
        item: form.address,
    }) }}
    {{ form_widget_macro({
        item: form.phone,
    }) }}

    <div class="flex flex-row-reverse">
        {{ button_macro({
            text: button_label|default('Enregistrer'),
            custom_classes: button_classes,
        }) }}
    </div>
{{ form_end(form) }}
