{# Your Twig template, e.g., quote/new.html.twig #}

<form method="post">
    {{ form_start(form) }}
    
    {# Other fields... #}

    {{ form_label(form.productQuotes) }}
    {{ form_errors(form.productQuotes) }}
    
    {# Render each productQuotes entry with its associated ProductQuoteType form fields #}
    {% for productQuoteForm in form.productQuotes %}
        <div>
            {{ form_row(productQuoteForm.quantity) }}
            {{ form_widget(productQuoteForm) }}
        </div>
    {% endfor %}
    
    {# Allow users to dynamically add/remove productQuotes #}
    <button type="button" class="add-product">Add Product</button>
    <button type="button" class="remove-product">Remove Product</button>

    {# Submit button and end of the form #}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</form>