{% from "@components/macros/content.html.twig" import header %}
{% from "@components/input/macros/index.html.twig" import form_widget_macro %}
{% from "@components/button/macros/index.html.twig" import button_macro %}

{% extends '@base/app.html.twig' %}

{% block title %}Add User{% endblock %}

{% block body %}

    {{ header({
        text: 'Ajouter un employé',
    }) }}

    <div class="p-4">
        <div class= "flex flex-row items-center justify-start mb-4 text-xs text-gray-500 hover:text-primary-500 ease-in-out">
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="#">Retour à la liste</a>
        </div>
        <div class="p-4 shadow-md w-1/2 border rounded">
            <div class="text-sm">
                {{ form_start(form) }}
                    {{
                        form_widget_macro({
                            item: form.firstName,
                        })
                    }}
                    {{
                        form_widget_macro({
                            item: form.lastName,
                        })
                    }}
                    {{
                        form_widget_macro({
                            item: form.email,
                        })
                    }}
                    {{
                        form_widget_macro({
                            item: form.password,
                        })
                    }}
                    {{
                        form_widget_macro({
                            item: form.company,
                        })
                    }}
                    {{
                        form_widget_macro({
                            item: form.roles,
                        })
                    }}

                    <div class="flex flex-row-reverse">
                        {{ button_macro({
                            text: 'Ajouter',
                            custom_classes: [
                                'bg-primary-500',
                                'text-white',
                                'hover:bg-primary-600',
                                'ml-2',
                            ],
                        }) }}
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
        </div>
        
    </div>
{% endblock %}
