{% from "@components/input/macros/index.html.twig" import form_widget_macro %}

{{ form_start(form) }}
    <div class='input-wrapper'>
       {{form_widget_macro({item: form.name})}}
    </div>

    <div class='input-wrapper'>
        {{form_widget_macro({item: form.reference})}}
    </div>

        {# Champ pour la description du produit #}
    <div class='input-wrapper'>
        {{form_widget_macro({item: form.description})}}
    </div>

    {# Champ pour le prix du produit #}
    <div class='input-wrapper'>
        {{form_widget_macro({item: form.price})}}
    </div>

    {# Champ pour la catégorie du produit #}
    <div class='input-wrapper'>
        {{form_widget_macro({item: form.category})}}
    </div>

    {# Champ pour la sous-catégorie du produit #}
    <div class='input-wrapper'>
        {{form_widget_macro({item: form.subCategories})}}
    </div>

    <button class="btn-validate">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
