{% from "@components/macros/content.html.twig" import button_macro %}

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.category) }}

    <div class="flex flex-row-reverse">
        {{ button_macro({
            text: button_label|default('Enregistrer'),
            custom_classes: button_classes,
        }) }}
    </div>
{{ form_end(form) }}