{{ form_start(form) }}
    <div class='input-wrapper'>
        {{ form_label(form.name, 'Nom du Produit') }}
        {{ form_widget(form.name, {'attr': {'class':form_errors(form.name) ? 'input-error' : 'input-without-error'}}) }}
        {{ form_errors(form.name, {'attr': {'class': 'error-message'}}) }}
    </div>

    <div class='input-wrapper'>
        {{ form_label(form.reference, 'Reference') }}
        {{ form_widget(form.reference, {'attr': {'class':form_errors(form.reference) ? 'input-error' : 'input-without-error'}}) }}
        {{ form_help(form.reference,   {'attr': {'class': 'help-message'}}) }}
        {{ form_errors(form.reference, {'attr': {'class': 'error-message'}}) }}
    </div>

        {# Champ pour la description du produit #}
    <div class='input-wrapper'>
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {'attr': {'class':form_errors(form.description) ? 'input-error' : 'input-without-error'}}) }}
        {{ form_help(form.description,   {'attr': {'class': 'help-message'}}) }}
        {{ form_errors(form.description, {'attr': {'class': 'error-message'}}) }}
    </div>

    {# Champ pour le prix du produit #}
    <div class='input-wrapper'>
        {{ form_label(form.price, 'Prix') }}
        {{ form_widget(form.price, {'attr': {'class':form_errors(form.price) ? 'input-error' : 'input-without-error'}}) }}
        {{ form_errors(form.price, {'attr': {'class': 'error-message'}}) }}
    </div>

    {# Champ pour la catégorie du produit #}
    <div class='input-wrapper'>
        {{ form_label(form.category, 'Catégorie') }}
        {{ form_widget(form.category, {'attr': {'class': 'input-without-error'}}) }}
        {{ form_errors(form.category) }}
    </div>

    {# Champ pour la sous-catégorie du produit #}
    <div class='input-wrapper'>
        {{ form_label(form.subCategories, 'Sous-catégorie') }}
        {{ form_widget(form.subCategories, {'attr': {'class': 'input-without-error'}}) }}
        {{ form_errors(form.subCategories) }}
    </div>

    <button class="btn-validate">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
