{{ form_start(form) }}
    <div>
        {{ form_label(form.name, 'Nom du Produit') }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div>
        {{ form_label(form.reference, 'Reference') }}
        {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.reference) }}
    </div>

        {# Champ pour la description du produit #}
    <div>
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    {# Champ pour le prix du produit #}
    <div>
        {{ form_label(form.price, 'Prix') }}
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.price) }}
    </div>

    {# Champ pour la catégorie du produit #}
    <div>
        {{ form_label(form.category, 'Catégorie') }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.category) }}
    </div>

    {# Champ pour la sous-catégorie du produit #}
    <div>
        {{ form_label(form.subCategories, 'Sous-catégorie') }}
        {{ form_widget(form.subCategories, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.subCategories) }}
    </div>

    <button class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
