
{% from "@components/macros/content.html.twig" import header %}
{% from "@components/button/macros/index.html.twig" import button_macro %}
{% extends 'front/base.html.twig' %}

{% block title %}Modification du client{% endblock %}

{% block body %}
    {{ header({
        text: 'Modification du produit'
    }) }}

    <div class="p-4">
        <div class= "flex flex-row items-center justify-start mb-4 text-xs text-gray-500 hover:text-blue-500 ease-in-out">
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_product_index') }}">Retour à la liste</a>
        </div>

        <div>
            <div class="flex justify-end py-2 gap-2 w-1/2">
                {{ button_macro({
                    custom_classes: ["group", "rounded", "p-2", "bg-blue-50", "text-blue-500", "text-sm", "transition-all", "ease-in-out", "hover:bg-blue-500", "hover:text-white"],
                    text:  "Nouvelle catégorie",
                    icon: "fa-plus",
                }) }}
                 
                 {{ button_macro({
                    custom_classes: ["group", "rounded", "p-2", "bg-blue-50", "text-blue-500",  "transition-all", "ease-in-out", "hover:bg-blue-500", "hover:text-white"],
                    text:  "Nouvelle sous-catégorie",
                    icon: "fa-plus",
                }) }}        
            </div>
          </div>

        <div class="p-4 shadow-md w-1/2 border rounded">
            <div class="text-sm">
                {{ include('product/_form.html.twig', {
                    button_label: 'Modifier',
                    button_classes: [
                        'bg-yellow-400',
                        'text-gray-900',
                        'hover:bg-yellow-500',
                        'ml-2',
                    ]
                }) }}
            </div>
        </div>
        </div>
    </div>
{% endblock %}
