{% extends '@base/app.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}
{% from "@components/macros/content.html.twig" import alert %}
{% from "@components/macros/content.html.twig" import button_macro %}
{% from "@components/macros/content.html.twig" import paginator %}
{% from "@components/input/macros/index.html.twig" import form_search_macro %}


{% block title %}Produits{% endblock %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Liste des produits',
    }) }}

    <div class="px-4" data-controller="form--checkbox--post">
        <div class="flex flex-row justify-between">
            <div class="gap-2 py-2">
                {{ form_search_macro({
                    id: 'form-search-product',
                    action: path('app_product_index'),
                    placeholder: 'Rechercher',
                    name: constant('App\\Controller\\ProductController::SEARCH_FORM_NAME'),
                    value: searchTerm|default(''),
                }) }}
            </div>
            
            <div class="flex justify-end py-2 gap-2">
                {% embed "./modal/delete-many-button-confirm.html.twig" with {
                    formAction : 'app_product_deleteAll',
                    customFormId : 'deleteManyProductsForm',
                    text: 'Êtes-vous sûrs de vouloir supprimer ce(s) produit(s) ?',
                } %}
                {% endembed %}
                {{ button_macro({
                    custom_classes: ["group", "rounded", "p-2", "bg-primary-50", "text-primary-500", "text-sm", "transition-all", "ease-in-out", "hover:bg-primary-500", "hover:text-white"],
                    text:  "Nouveau produit",
                    icon: "fa-plus",
                    route : path('app_product_new')
                }) }}
            </div>
        </div>

        {% set cellPadding = 'p-4 px-2' %}
        {% set borderClass = 'border-b border-b-secondary-200' %}
        {% set tableHeaderClasses = borderClass ~ ' bg-secondary-50' %}
        <form
            id="deleteManyProductsForm"
            data-form--checkbox--post-target="form"
            action="{{ path('app_product_deleteAll') }}"
            method="POST"
        >
        <table
            class="w-full border shadow-sm text-sm"
            data-controller="form--checkbox--multiple"
        >
            <thead>
                <tr class="{{ tableHeaderClasses }}">
                    <th class="{{ cellPadding }} text-center">
                        <input type="checkbox" class="products-checkbox" data-form--checkbox--multiple-target="main">
                    </th>
                    {% if showCompany %}
                        <th class="{{ cellPadding }} text-left">Entreprise</th>
                    {% endif %}
                    <th class="{{ cellPadding }} text-left">Reference</th>
                    <th class="{{ cellPadding }} text-left">Nom</th>
                    <th class="{{ cellPadding }} text-left">Catégorie</th>
                    <th class="{{ cellPadding }} text-left">Description</th>
                    <th class="{{ cellPadding }} text-right">Prix (€)</th>
                    <th class="{{ cellPadding }}"></th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr data-controller="link--clickable"
                    data-link--clickable-path-value="{{ path('app_product_show', {'id': product.id}) }}"
                    data-action="click->link--clickable#visit"
                    data-link--clickable-target="element"
                    class="{{ borderClass }} hover:bg-secondary-50 text-sm"
                >
                    <td class="{{ cellPadding }} text-center" data-link--clickable-target="exclude">
                        <input
                            type="checkbox"
                            class="product-checkbox"
                            name="products[{{ product.id }}]"
                            value="{{ csrf_token('delete' ~ product.id) }}"
                            data-form--checkbox--multiple-target="items"
                            data-form--checkbox--post-target="items"
                            >
                        </td>
                    {% if showCompany %}
                        <td class="{{ cellPadding }} text-left">{{ product.company.getName() }}</td>
                    {% endif %}
                    {% if product.getReference() is empty %}
                        <td class="{{ cellPadding }} text-left italic text-gray-300">null</td>
                    {% else %}
                        <td class="{{ cellPadding }} text-left max-w-[100px] truncate">{{ product.getReference() }}</td>
                    {% endif %}

                        <td class="{{ cellPadding }} text-left max-w-[100px] truncate">{{ product.getName() }}</td>
                        <td class="{{ cellPadding }} text-left  max-w-[100px] truncate">{{ product.getCategory() }}</td>

                    {% if product.getDescription() is empty %}
                        <td class="{{ cellPadding }} text-left italic text-gray-300">null</td>
                    {% else %}
                        <td class="{{ cellPadding }} text-left max-w-[150px] truncate" >{{ product.getDescription() }}</td>
                    {% endif %}

                    <td class="{{ cellPadding }} text-right max-w-[20px] truncate">{{ product.getPrice() }}</td>
                    <td class="{{ cellPadding }} text-right text-secondary-400">
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}" data-link--clickable-target="exclude">
                            <i class="fa-solid fa-edit hover:text-warning-500"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">
                        {{ alert({
                            text: 'Aucun produit enregistré',
                            color: 'warning',
                            icon: 'fa-circle-info',
                            variant: 'small',
                        }) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>

    <div id="product-paginator" class="flex flex-row justify-end my-2">
        {{ paginator({
            name: 'page',
            countButton: 5,
            current: paginatorHelper.current,
            total: paginatorHelper.total,
            route: 'app_product_index',
            urlParams: { 
                (constant('App\\Controller\\ProductController::SEARCH_FORM_NAME')): searchTerm|default('') 
            },
        }) }}
    </div>
{% endblock %}