{% extends 'front/base.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}
{% from "@components/button/macros/index.html.twig" import button_macro %}

{% block title %}Produit{% endblock %}

{% block body %}
 {{ header({
        text: 'Liste des produits',
    }) }}

    <div class="px-4">
        <div class="flex justify-end py-2 gap-2">
            {{ button_macro({
                id: 'openModal',
                custom_classes: ["group", "rounded", "p-2", "bg-blue-50", "text-blue-500", "text-sm", "transition-all", "ease-in-out", "hover:bg-blue-500", "hover:text-white"],
                text:  "Nouveau produit",
                icon: "fa-plus",
                route : path('app_product_new')
            }) }}
             
             {{ button_macro({
                id: 'delete',
                custom_classes: ["group", "rounded", "p-2", "bg-red-50", "text-red-500",  "transition-all", "ease-in-out", "hover:bg-red-500", "hover:text-white"],
                icon: "fa-trash",
            }) }}        
        </div>
        
        {% set cellPadding = 'p-4 px-2' %}
        {% set borderClass = 'border-b border-b-gray-200' %}
        <table class="w-full border shadow-sm">
            <thead>
                <tr class="{{ borderClass }}">
                    <th class="{{ cellPadding }} text-right">#</th>
                    <th class="{{ cellPadding }} text-left">Reference</th>
                    <th class="{{ cellPadding }} text-left">Nom</th>
                    <th class="{{ cellPadding }} text-left">Catégorie</th>
                    <th class="{{ cellPadding }} text-left">Prix</th>
                    <th class="{{ cellPadding }}"></th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr data-href="{{ path('app_product_show', {'id': product.id}) }}" class="{{ borderClass }} hover:bg-gray-50 text-sm">
                    <td class="{{ cellPadding }} text-right">{{ loop.index }}</td>
                    <td class="{{ cellPadding }} text-left">{{ product.reference }}</td>
                    <td class="{{ cellPadding }} text-left">{{ product.name }}</td>
                    <td class="{{ cellPadding }} text-left">{{ product.category }}</td>
                    <td class="{{ cellPadding }} text-left">{{ product.price }}</td>
                    <td class="{{ cellPadding }} text-right text-gray-400">
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">
                            <i class="fa-solid fa-edit hover:text-yellow-500"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas de résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    
        </tbody>
    </table>

{% endblock %}
