<div class="flex flex-row items-end">
    <div class="w-1/3 mr-4">
        {{ form_row(form.product, {
            attr: {
                'data-model': 'product',
                'data-action': "live#emit",
                'data-event': 'product_selection_has_been_changed',
                'with_error': _errors.has('product') ? true : false,
                'error_text': _errors.has('product') ? _errors.get('product') : '',
                'error_text_position': 'top',
                'disabled': isEditing ? false : true,
            }
        }) }}
    </div>
    <div class="w-3/4 flex flex-row">
        <div class="flex flex-row items-end">
            <div class="mr-2">
                {{ form_row(form.price, {
                    attr: {
                        'data-model': 'price',
                        'data-action': "live#emit",
                        'data-event': 'product_price_has_been_edited',
                        'with_error': _errors.has('price') ? true : false,
                        'error_text': _errors.has('price') ? _errors.get('price') : '',
                        'error_text_position': 'top',
                        'disabled': isEditing ? false : true,
                    }
                }) }}
            </div>
            <div class="mr-2">
                {{ form_row(form.quantity, {
                    attr: {
                        'data-model': 'quantity',
                        'data-action': "live#emit",
                        'data-event': 'product_quantity_has_been_edited',
                        'with_error': _errors.has('quantity') ? true : false,
                        'error_text': _errors.has('quantity') ? _errors.get('quantity') : '',
                        'error_text_position': 'top',
                        'disabled': isEditing ? false : true,
                    }
                }) }}
            </div>
            <div class="mr-2 cursor-not-allowed">
                {{ form_row(form.total, {
                    attr: {
                        'data-model': 'total',
                        'disabled': true,
                        'class': 'cursor-not-allowed'
                    }
                }) }}
            </div>
        </div>
    </div>
    {% if _canSaveItems %}
        <div class="flex flex-row">
            {% if isEditing %}
                <button
                        id="{{ uniqid() }}"
                        data-action="live#action"
                        data-action-name="save"
                        data-loading="action(save)|addAttribute(disabled)"
                        class="text-sm px-4 py-2 bg-secondary-100 hover:bg-secondary-200 text-secondary-500 mb-3 rounded mr-2"
                >
                <span data-loading="show">
                    <i class="fas fa-spinner animate-spin"></i>
                </span>
                    <i class="fas fa-check" data-loading="hide"></i>
                </button>
            {% else %}
                <button
                        id="{{ uniqid() }}"
                        data-action="live#action"
                        data-action-name="edit"
                        class="text-sm px-4 py-2 bg-secondary-100 hover:bg-secondary-200 text-secondary-500 mb-3 rounded mr-2"
                >
                <span data-loading="show">
                    <i class="fas fa-spinner animate-spin"></i>
                </span>
                    <i class="fas fa-pencil" data-loading="hide"></i>
                </button>
            {% endif %}
            <button
                    id="{{ uniqid() }}"
                    data-action="live#emitUp"
                    data-event="removeLineItem(key={{ key }})"
                    data-loading="addAttribute(disabled)"
                    class="px-4 py-2 text-danger-500 mb-3 rounded hover:bg-danger-100"
            >
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endif %}
</div>