{% macro form_widget_macro(params) %}
    {# Initialize classes #}
    {% set inputWrapperClasses = [
        'flex',
        'flex-col',
        'mb-2',
    ]|join(' ') %}

    {% set inputOutlineClasses = [
        'w-full',
        'border-b',
        'outline-none',
        'border-w',
        'focus:border-b-blue-400',
    ]|join(' ') %}

    {% set labelClasses = [
        'mb-2',
        'text-sm',
        'text-gray-500',
    ]|join(' ') %}

    {% set errorClasses = [
        'border-red-500',
    ]|join(' ') %}

    {# params.item is a form element. Ex: form.email #}
    {% set item = params.item %}

    <div class="{{ inputWrapperClasses }}">
        {% set itemClass = '' %}
        {% if not item.vars.valid %}
            {% set itemClass = errorClasses %}
        {% endif %}
        <label class="{{ labelClasses }}" for="phone">{{ form_label(item) }}</label>
        <div>
            {{ form_widget(item, {
                attr: {
                    class: inputOutlineClasses ~ ' ' ~ itemClass,
                }
            }) }}
        </div>

        {% if not item.vars.valid %}
            <small class="text-red-500">
                {{ form_errors(item) }}
            </small>
        {% endif %}

        {% if item.vars.help is defined %}
            <small class="text-gray-500">
                {{ item.vars.help }}
            </small>
        {% endif %}
    </div>
{% endmacro %}

{% macro form_search_macro(params) %}
    {% set id = params.id|default(uniqid()) %}
    {% set action = params.action|default('#') %}
    {% set name = params.name|default('search') %}
    {% set value = params.value|default('') %}
    {% set placeholder = params.placeholder|default('') %}

    {% set inputClasses = "h-full p-2 text-gray-950 leading-none outline-0 focus:bg-gray-50 transition-all duration-300" %}

    <form class="text-sm" id="{{ id }}" action="{{ action }}">
        <div class="flex flex-row items-center border">
            <input class="{{ inputClasses }}" type="text" name="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}" />
            {% from "@components/macros/content.html.twig" import button_macro %}
            {{ button_macro({
                custom_classes: [
                    'cursor-pointer',
                    'bg-gray-50',
                    'rounded-none',
                    'hover:bg-gray-100',
                    'text-blue-500',
                ],
                icon: 'fa-solid fa-search',
            }) }}
        </div>
    </form>
        
{% endmacro %}