{% from "@components/macros/content.html.twig" import button_macro %}

{% set button_classes = button_classes|default([]) %}

{{ form_start(form) }}

    <div class="flex flex-row items-end">
        {{ form_row(form.customer, {
            attr: {
                class: 'w-1/2 mr-4'
            }
        }) }}
        {{ form_row(form.quote_number, {
            attr: {
                class: 'w-1/2'
            }
        }) }}
    </div>

    <div class="flex flex-row items-end">
        {{ form_row(form.quote_issuance_date, {
            attr: {
                class: 'w-1/2 mr-4'
            }
        }) }}
        {{ form_row(form.expiry_date, {
            attr: {
                class: 'w-1/2'
            }
        }) }}
    </div>

    <div class="flex flex-row items-end">
        {{ form_row(form.discount, {
            attr: {
                class: 'w-1/2 mr-4'
            }
        }) }}
        {{ form_row(form.tva, {
            attr: {
                class: 'w-1/2'
            }
        }) }}
    </div>

    {{ form_row(form.status, {
        attr: {
            class: 'w-1/2'
        }
    }) }}

    <div class="flex flex-row-reverse">
        {{ button_macro({
            text: button_label|default('Enregistrer'),
            custom_classes: button_classes,
        }) }}
    </div>
{{ form_end(form) }}


