{% extends '@base/app.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}

{% block title %}Devis{% endblock %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Devis',
    }) }}

    <div class="p-4 grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div>
            <i class="fa-solid fa-arrow-left mr-1"></i>
            <a href="{{ path('app_quote_index') }}">Retour à la liste</a>
        </div>
        <div class="flex flex-col lg:flex-row lg:justify-end gap-2">
            <twig:Button
                text="PDF"
                color="secondary"
                type="secondary"
                route="{{ path('app_quote_pdf_show', {'id': quote.id}) }}"
                target="_blank"
                icon="fa-file-pdf"
            />
            <twig:Button
                text="Transformer en facture"
                color="secondary"
                route="{{ path('app_quote_to_bill', {'id': quote.id}) }}"
                icon="fa-random"
            />
            <twig:Button
                text="Modifier"
                color="warning"
                textColor="secondary-700"
                route="{{ path('app_quote_edit', {'id': quote.id}) }}"
                icon="fa-pen"
            />
        </div>
    </div>
    <div class="px-4">
        <twig:QuoteCreator :quoteData="quote" mode="show" />
    </div>
{% endblock %}