{% set productBillFormWidths = {
    'xs': 'full',
    'sm': 'full',
    'md': 'full',
    'lg': 'full',
    'xl': 'full',
} %}

{% set shadowSizes = {
    'xs': 'xs',
    'sm': 'xs',
    'md': 'sm',
    'lg': 'md',
    'xl': 'md',
} %}

<twig:Card
    title="Liste des produits"
    :widths="productBillFormWidths"
    :shadowSizes="shadowSizes"
    :rounded="false"
>
{% if not _isReadOnlyMode %}
<button
    data-action="live#action"
    data-action-name="addLineItem"
    data-loading="action(addLineItem)|addAttribute(disabled)"
    class="text-sm mb-3 px-4 py-1 bg-primary-100 text-primary-500 rounded hover:bg-primary-200"
>
    <span data-loading="action(addLineItem)|show">
        <i class="fas fa-spinner animate-spin"></i>
    </span>
    <i class="fas fa-plus" data-loading="action(addLineItem)|hide"></i>
    <span>Ajouter</span>
</button>
{% endif %}

{% if productItemsIsEmpty %}
    <twig:Alert
        color="secondary"
        text="Cliquer sur le bouton 'Ajouter' pour ajouter des produits à la liste."
        variant="small"
        icon="fa-info-circle"
    />
{% endif %}

{% for key, line in lineItems %}
    <twig:QuoteCreator:Item
        key="{{ key }}"
        productId="{{ line.productId }}"
        price="{{ line.price }}"
        quantity="{{ line.quantity }}"
        tva="{{ line.tva }}"
        discount="{{ line.discount }}"
        isEditing="{{ line.isEditing }}"
        mode="{{ _mode }}"
    />
{% endfor %}

</twig:Card>