{% macro header(params) %}
    <div class="bg-secondary-100 p-4 border border-b-secondary-200 text-lg font-medium">
        <h1>{{ params.text|default('') }}</h1>
    </div>
{% endmacro %}


{% macro button_macro(params) %}
    {# Initialize button atributes #}

    {% set id = params.id|default(uniqid()) %}
    {% set text = params.text|default('') %}
    {% set route = params.route|default('#') %}
    {% set has_action = route is not empty and route != '#' %}
    {% set onclick = params.onclick|default('') %}
    {% set custom_classes = params.custom_classes|default([]) %}
    {% set icon = params.icon|default('') %}
    {% set disabled = params.disabled|default(false) %}
    {% set bool = disabled ? 'disabled':'' %}
    {% set attr = params.attr|default([]) %}

    {# Initialize button classes #}
    {% set button_classes = [
        'rounded',
        'p-2',
        'text-sm',
        'transition-all',
        'ease-out',
    ] %}
    {% if custom_classes is not empty %}
        {% set button_classes = button_classes|merge(custom_classes) %}
    {% endif %}
    {% set button_classes = button_classes|join(' ') %}

    {% set str_attr = '' %}

    {% for key, value in attr %}
        {% set str_attr = str_attr ~ ' ' ~ key ~ '="' ~ value|raw ~ '"' %}
    {% endfor %}

    {% if has_action %}
        <a href="{{ route }}">
    {% endif %}

        <button id="{{id}}" class="{{ button_classes }}" onclick="{{onclick}}" {{bool}} {{ str_attr|raw }}>
            <i class="fa-solid {{ icon }}"></i>
            {% if text is not empty %}
                {{ text }}
            {% endif %}
        </button>
    
    {% if has_action %}
        </a>
    {% endif %}
{% endmacro %}

{% macro paginator(params) %}
    {% set id = id|default(uniqid()) %}
    {% set name = params.name|default('page') %}
    {% set route = params.route|default('#') %}
    {% set urlParams = params.urlParams|default({}) %}

    {% set current = params.current|default(1) %}
    {% set total = params.total|default(current) %}
    {% set countButton = params.countButton|default(5) %}
    
    {# Setting classes #}
    {% set buttonClasses = [
        'text-sm',
        'border',
        'px-2',
        'py-1',
        'w-8',
    ] %}
    {% set pageClasses = [
        'text-center',
    ] %}
    {% set hoveredPageClass = [
        'hover:bg-secondary-100',
    ]|join(' ') %}
    {% set prevNextClasses = [
        '',
    ] %}
    {% set prevNextClasses = prevNextClasses
        |merge(buttonClasses)
        |join(' ') %}
    {% set disabledButtonClasses = [
        'bg-secondary-100',
        'text-secondary-400',
        'cursor-not-allowed',
    ]|join(' ') %}
    {% set pageClasses = pageClasses
        |merge(buttonClasses)
        |join(' ') %}
    
    {% set buttonPage = generatePaginatorButton(current, total, countButton) %}
    {% set pageLabels = buttonPage.label %}
    {% if pageLabels is not empty %}
        <div id="{{ id }}" class="flex flex-row">
            {# Previous button #}
            {% set previousButtonClasses = prevNextClasses %}
            {% set previousButtonAttribute = '' %}
            {% if 1 >= current %}
                {% set previousButtonAttribute = 'disabled' %}
                {% set previousButtonClasses = previousButtonClasses ~ ' ' ~ disabledButtonClasses %}
            {% endif %}
            {% set previousButtonParams = urlParams|merge({(name): current-1}) %}
            {% set path = route != '#' ? path(route, previousButtonParams) : '#' %}
            <a href="{{ path }}" data-turbo-action="replace">
                <button {{ previousButtonAttribute }} class="{{ previousButtonClasses }}">
                    <i class="fa-solid fa-caret-left"></i>
                </button>
            </a>
            
            {# Generated page buttons #}
            {% for page in pageLabels %}
                {% if page is not empty and page != current %}
                    {% set availableButtonClasses = pageClasses ~ ' ' ~ hoveredPageClass %}
                    {% set buttonPageParams = urlParams|merge({(name): page}) %}
                    {% set path = route != '#' ? path(route, buttonPageParams) : '#' %}
                    <a href="{{ path }}" data-turbo-action="replace">
                        <button class="{{ availableButtonClasses }}">{{ page }}</button>
                    </a>
                {% elseif page == current %}
                    {% set activeClasses = 'bg-primary-500 text-white hover:bg-primary-500' %}
                    <span class="{{ pageClasses ~ ' ' ~ activeClasses }}">{{ page }}</span>
                {% else %}
                    <span class="{{ pageClasses }} bg-secondary-50">...</span>
                {% endif %}
            {% endfor %}

            {# Next button #}
            {% set nextButtonClasses = prevNextClasses %}
            {% set nextButtonAttribute = '' %}
            {% if current >= buttonPage.total %}
                {% set nextButtonAttribute = 'disabled' %}
                {% set nextButtonClasses = nextButtonClasses ~ ' ' ~ disabledButtonClasses %}
            {% endif %}
            {% set nextButtonParams = urlParams|merge({(name): current+1}) %}
            {% set path = route != '#' ? path(route, nextButtonParams) : '#' %}
            <a href="{{ path }}" data-turbo-action="replace">
                <button {{ nextButtonAttribute }} class="{{ nextButtonClasses }}">
                    <i class="fa-solid fa-caret-right"></i>
                </button>
            </a>
        </div>
    {% endif %}
{% endmacro %}