{% macro item(params) %}
    {% set text = params.text|default('') %}
    {% set route = params.route|default('#') %}
    {% set iconClass = params.icon|default('') %}
    {% set currentRoute = app.request.attributes.get('_route')|default('') %}
    {% set extractCurrentRoute = currentRoute|split('_')|slice(0, 2)|join('_') %}
    {% set extractRoute = route|split('_')|slice(0, 2)|join('_') %}
    {% set activeClass = {
        wrapper: extractCurrentRoute == extractRoute ? 'bg-primary-50 border-r-4 border-primary-500' : '',
        text: extractCurrentRoute == extractRoute ? 'text-primary-500' : '',
    } %}

    <a href="{{ path(route) }}">
        <li class="group flex sub-nav-item py-2 px-6 hover:cursor-pointer hover:bg-primary-50 {{ activeClass.wrapper }}">
            <div class="flex items-center group-hover:text-primary-500">
                <div class="w-7">
                    <i class="text-primary-500 fa-solid {{ iconClass }}"></i>
                </div>
                <span class="{{ activeClass.text }}">{{ text }}</span>
            </div>
        </li>
    </a>
{% endmacro %}