<div {{ attributes }}>
    {{ displayFlash() }}
    {% if _isReadOnlyMode %}
        <div class="mb-3">
            <twig:Alert
                color="warning"
                text="Vous êtes en mode lecture seule. Vous ne pouvez plus modifier ce devis car il a déjà été accepté."
                icon="fa-warning"
                variant="small"
            />
        </div>
    {% endif %}
    <div class="border shadow-lg p-4 mb-4">
        {% include '@components/twig/live/Quote/quote-informations.html.twig' %}
    </div>
    <div class="border shadow p-4 mb-3">
        {% include '@components/twig/live/Quote/quote-products.html.twig' %}
    </div>
    {% if not productItemsIsEmpty %}
    <div class="flex justify-end mb-3 bg-white">
        {% include '@components/twig/live/Quote/quote-recap.html.twig' %}
    </div>
    {% endif %}
    {% if not _isValid %}
        <div class="mb-3">
            <twig:Alert
                color="warning"
                text="Veuillez rajouter des produits pour enregistrer le devis."
                icon="fa-warning"
                variant="small"
            />
        </div>
    {% endif %}
    {% if _hasErrors %}
        <div class="mb-3">
            <twig:Alert
                color="danger"
                text="Veuillez corriger les erreurs avant de sauvegarder le devis."
                icon="fa-times-circle"
                variant="small"
            />
        </div>
    {% endif %}
    {% if not _isReadOnlyMode %}
    <div class="flex flex-row justify-end mb-3">
        {% set buttonClass = 'flex text-white px-4 py-2 rounded text-sm' %}
        {% if _allValid %}
            {% set buttonClass = buttonClass ~ ' bg-primary-500 hover:bg-primary-700 cursor-pointer' %}
            {% set textClass = '' %}
        {% else %}
            {% set buttonClass = buttonClass ~ ' bg-gray-400 cursor-not-allowed pointer-events-none' %}
            {% set textClass = 'line-through' %}
        {% endif %}
        <button
            {{ (_allValid) ? '' : 'disabled="disabled"' }}
            data-action="live#action"
            data-action-name="saveQuote"
            class="{{ buttonClass }}"
        >
            <div class="mr-2">
                <span data-loading="show">
                    <i class="fas fa-spinner animate-spin"></i>
                </span>
                <span data-loading="hide">
                    <i class="fas fa-save"></i>
                </span>
            </div>
            <span class="flex {{ textClass }}">
                Sauvegarder
            </span>
        </button>
    </div>
    {% endif %}
</div>