{% from "@components/macros/content.html.twig" import header %}
{% extends '@base/app.html.twig' %}

{% block title %}Modifier mon compte{% endblock %}

{% set defaultTabClass = 'rounded border-l-4' %}
{% set activeTabClass = 'bg-secondary-100 border-l-primary-500' %}
{% set inactiveTabClass = 'border-l-white' %}

{% block body %}
    {{ displayFlash() }}
    {{ header({
        text: 'Mon compte',
    }) }}

    <div class="p-4 flex flex-col md:flex-row w-full lg:w-3/4">
        <div id="account_tabs" class="mb-4 md:mb-0 text-sm mr-4">
            {% set activeClass = 'personal' == tabs ? activeTabClass : inactiveTabClass %}
            <div class="{{ defaultTabClass }} {{ activeClass }} rounded">
                <a href="{{ path('app_account_me_edit', { 'tabs': 'personal' }) }}" class="flex items-center p-2">
                    <i class="fas fa-user mr-2"></i>
                    <span>Informations personnelles</span>
                </a>
            </div>
            {% set activeClass = 'security' == tabs ? activeTabClass : inactiveTabClass %}
            <div class="{{ defaultTabClass }} {{ activeClass }} rounded">
                <a href="{{ path('app_account_me_edit', { 'tabs': 'security' }) }}" class="flex items-center p-2">
                    <i class="fas fa-lock mr-2"></i>
                    <span>Sécurité</span>
                </a>
            </div>
        </div>
        <div id="account_tabs_content" class="w-full p-4 shadow-md">
            {{ include("@user/account/current/edit/tabs/" ~ tabs ~ ".html.twig") }}
        </div>
    </div>
{% endblock %}
