{% set billFormWidths = {
    'xs': 'full',
    'sm': 'full',
    'md': 'full',
    'lg': 'full',
    'xl': 'full',
} %}
<twig:Card
    title="Informations de la facture"
    :widths="billFormWidths"
    :rounded="false"
>
    <div class="flex flex-col md:flex-row items-start">
        {{ form_row(form.customer, {
            attr: {
                'class': 'w-full md:w-1/2 md:mr-4',
                'data-model': 'customer',
                'with_error': _errors.has('customer') ? true : false,
                'error_text': _errors.has('customer') ? _errors.get('customer') : '',
                'disabled': _isReadOnlyMode ? true : false,
            }
        }) }}

        {{ form_row(form.bill_number, {
            attr: {
                'class': 'w-full md:w-1/2',
                'data-model': 'billNumber',
                'with_error': _errors.has('billNumber') ? true : false,
                'error_text': _errors.has('billNumber') ? _errors.get('billNumber') : '',
                'disabled': _isReadOnlyMode ? true : false,
            }
        }) }}
    </div>

    <div class="flex flex-col md:flex-row items-start">
        {{ form_row(form.billIssuanceDate, {
            attr: {
                'class': 'w-full mr-2',
                'data-model': 'billIssuanceDate',
                'with_error': _errors.has('billIssuanceDate') ? true : false,
                'error_text': _errors.has('billIssuanceDate') ? _errors.get('billIssuanceDate') : '',
                'disabled': _isReadOnlyMode ? true : false,
            }
        }) }}
        {{ form_row(form.status, {
            attr: {
                'class': 'w-full',
                'data-model': 'status',
                'with_error': _errors.has('status') ? true : false,
                'error_text': _errors.has('status') ? _errors.get('status') : '',
                'disabled': _isReadOnlyMode ? true : false,
            }
        }) }}
    </div>

    <div class="w-full md:w-1/2">
        {{ form_row(form.discount, {
            attr: {
                'class': 'w-full mr-2',
                'data-model': 'debounce(300)|discount',
                'with_error': _errors.has('discount') ? true : false,
                'error_text': _errors.has('discount') ? _errors.get('discount') : '',
                'disabled': _isReadOnlyMode ? true : false,
            }
        }) }}
    </div>
</twig:Card>