{% extends '@base/app.html.twig' %}

{% block title %}Payment index{% endblock %}

{% block body %}
    <div class="flex-col justify-center items-center h-screen mx-20 my-5">
      
        <h1 class="text-2xl font-bold mb-4">Liste des paiements:</h1>
        <div class="">
          <a href="{{ path('app_payment_new') }}" class="bg-primary-500 text-white px-4 py-2 rounded-md mt-4">Ajouter</a>
        </div>
        <div class="bg-secondary-100 p-8 rounded-lg shadow-md mt-5">
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th class="font-bold">Client</th>
                        <th class="font-bold">Status</th>
                        <th class="font-bold">DatePaiement</th>
                        <th class="font-bold">DateEcheance</th>
                        <th class="font-bold">Numéro Facture</th>
                        <th class="font-bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td class="border border-slate-300">{{ payment.bill.nomClient }}</td>
                            <td class="border border-slate-300">{{ payment.status }}</td>
                            <td class="border border-slate-300">{{ payment.datePaiement ? payment.datePaiement|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="border border-slate-300">{{ payment.dateEcheance ? payment.dateEcheance|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="border border-slate-300">{{ payment.bill.numeroFacture }}</td>
                            <td>
                                <a href="{{ path('app_payment_show', {'id': payment.id}) }}" class="text-primary-500">Détails</a>
                                <a href="{{ path('app_payment_edit', {'id': payment.id}) }}" class="text-primary-500 ml-2">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            
        </div>
    </div>
{% endblock %}
