{% extends '@base/app.html.twig' %}
{% from "@components/macros/content.html.twig" import header %}
{% from "@components/input/macros/index.html.twig" import form_search_macro %}


{% block title %}Payment index{% endblock %}

{% block body %}
    {{ header({
            text: 'Liste des paiements',
    }) }}
    <div class="px-4">
            <div class="flex flex-row justify-between py-2">
                    {{ form_search_macro({
                        id: 'form-search-customer',
                        action: path('app_customer_index'),
                        placeholder: 'Rechercher',
                        name: constant('App\\Controller\\Customer\\IndexController::SEARCH_FORM_NAME'),
                        value: searchTerm|default(''),
                    }) }}
                    <a href="{{ path('app_payment_new') }}">
                        <button class="group rounded p-2 bg-primary-50 text-primary-500 text-sm transition-all ease-in-out hover:bg-primary-500 hover:text-white">
                                <i class="fa-solid fa-plus"></i>
                                <span>Nouveau paiement</span>
                        </button>
                    </a>
            </div>
            {% set cellPadding = 'p-4 px-2' %}
            {% set borderClass = 'border-b border-b-gray-200' %}
            {% set tableHeaderClasses = borderClass ~ ' bg-secondary-50' %}
            <table class="w-full border shadow-sm">
                <thead>
                    <tr class="{{ tableHeaderClasses }}">
                        <th class="{{ cellPadding }} text-left">Client</th>
                        <th class="{{ cellPadding }} text-left">Status</th>
                        <th class="{{ cellPadding }} text-left">Date de paiement</th>
                        <th class="{{ cellPadding }} text-left">Date d'échéance</th>
                        <th class="{{ cellPadding }} text-left">N° Facture</th>
                        <th class="{{ cellPadding }} text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                        <tr class="{{ borderClass }}">
                            <td class="{{ cellPadding }} text-left">{{ payment.bill.nameClient }}</td>
                            <td class="{{ cellPadding }} text-left">{{ payment.status }}</td>
                            <td class="{{ cellPadding }} text-left">{{ payment.datePaiement ? payment.datePaiement|date('d-m-Y H:i') : '' }}</td>
                            <td class="{{ cellPadding }} text-left">{{ payment.dateEcheance ? payment.dateEcheance|date('d-m-Y H:i') : '' }}</td>
                            <td class="{{ cellPadding }} text-left">{{ payment.bill.numeroFacture }}</td>
                            <td>
                                <a href="{{ path('app_payment_show', {'id': payment.id}) }}" class="text-primary-500">Voir</a>
                                <a href="{{ path('app_payment_edit', {'id': payment.id}) }}" class="text-primary-500 ml-2">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            
        
    </div>
{% endblock %}
