{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    <h1>Payment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ payment.status }}</td>
            </tr>
            <tr>
                <th>Moyen</th>
                <td>{{ payment.moyen }}</td>
            </tr>
            <tr>
                <th>DatePaiement</th>
                <td>{{ payment.datePaiement ? payment.datePaiement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateEcheance</th>
                <td>{{ payment.dateEcheance ? payment.dateEcheance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ payment.bill.nomClient }}</td>
            </tr>
            <tr>
                <th>Numéro Facture</th>
                <td>{{ payment.bill.numeroFacture }}</td>
            </tr>
            <tr>
                <th>Total Price</th>
                <td>{{ payment.bill.totalPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_payment_index') }}" class="bg-blue-500 text-white px-4 py-2 rounded-md">Back to list</a>

    <a href="{{ path('app_payment_edit', {'id': payment.id}) }}" class="bg-blue-500 text-white px-4 py-2 rounded-md">Edit</a>

    {{ include('payment/_delete_form.html.twig') }}
{% endblock %}
