{# templates/user/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Add User{% endblock %}

{% block body %}
    <h1>Add User</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.entreprise) }}

        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
